.content-text {
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2.8125px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.content-text--text {
  text-shadow: 2px 2px #000;
}
.introPage-header {
  display: flex;
  flex-direction: column;
}

.c2 {
  padding: 5%;
  margin: 5% 8%;
}
